@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #00a884 18%, #dbdcda 18%);
}

textarea {
  @apply w-full p-4;
}

.user {
  @apply flex flex-col justify-start gap-10 bg-chat w-1/4 py-6 px-8 rounded-md;
}

.user__avatar {
  @apply rounded-full border-4 h-44 w-44 border-white;
}

.user__name {
  @apply text-2xl mt-4;
}

.user__color {
  @apply flex flex-col w-full h-10 border-4 rounded-sm border-gray-200;
}

.btn {
  @apply w-full py-3 rounded-md uppercase;
}

.btn--primary {
  @apply bg-whatsapp-950 text-white;
}

.messages {
  @apply rounded-md w-1/2 p-6 flex flex-col overflow-y-scroll;
  background-image: url("../img/chat.png");
  background-color: #eeeae3;
}

.message__box--user {
  @apply mb-6 w-3/4 p-3 rounded-lg shadow-md text-gray-900;
}

.message__user {
  @apply text-sm font-bold;
}

.message__text--user1 {
  @apply text-left;
}

.message__text--user2 {
  @apply text-right;
}
